.custom-button {
  height: 48px;
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  background: #1a2856;
  cursor: pointer;
  gap: 8px;
  display: flex;
  align-items: center;
}

.custom-button:hover {
  opacity: 90%;
}

.custom-button.disable {
  opacity: 50%;
}

.custom-button i {
  font-size: 20px;
}
